@model IEnumerable<ComicBookTracker.Models.Issue>

@{
    ViewData["Title"] = "Picklist";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <partial name="IssueList"/>
</body>
</html>
