{% extends "cbtracker/base.html" %}

{% block content %}

{% if pulllist %}
<h3>Authors</h3>
<div class="list-group">
	{% for author in authors %}
		<a href="{% url 'issues_by_author' author_id=author.id %}" class="list-group-item">
			{{author.name}}
		</a>
	{% endfor %}
</div>

<h3>Series Groups</h3>
<div class="list-group">
	{% for seriesGrouper in seriesGroupers %}
		<a href="{% url 'issues_by_group' seriesGrouper_id=seriesGrouper.id %}" class="list-group-item">
			{{seriesGrouper.name}}
		</a>
	{% endfor %}
</div>

<h3>Series</h3>
{% endif %}

<table class='table sortable'>
	<tr>
		<th class='seriesTitle'>Series</th>
		<th>Publisher</th>
		{% if picklist %}
			<th>Last Issue</th>
			<th>Ship Date</th>
		{% endif %}
	</tr>

	{% for series in list %}
	<tr>
		<td class='seriesTitle'>
			<a href="{% url 'issues_by_series' series_id=series.id %}">
				{{series}}
			</a>
		</td>
		<td>{{series.publisher}}</td>
		{% if picklist %}		
			<td>
				{% comment %}
					It would be better to use the 'issue' endpoint instead of 'latest_issue'
					and to pass it series.latest_issue.issue_number.id, but that won't work.
					latest_issue is a function, and the url template function can't handle
					calling it and then getting a parameter.  This seems more elegant (if
					barely so) than building the URL by hand.
				{% endcomment %}
				<a href="{% url 'latest_issue' series_id=series.id %}">
					{{series.latest_issue.issue_number}}
				</a>
			</td>
			<td>{{series.latest_issue.release_date_with_day}}</td>
		{% endif %}
	</tr>
	{% endfor %}
</table>		
{% endblock %}