{% extends "cbtracker/base.html" %}

{% block content %}

{% if current %}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Current</h2>
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-4" align="center">
				<div class="checkbox alert alert-info">
					<label class="">
						<input type="checkbox" id="showFarOut" unchecked>
						Show comics that haven't shipped yet
					</label>
				</div>
			</div>
		</div><!--row-->
	</div><!--container-->

	<table class='table sortable'>
		<tr>
			<th class='seriesTitle'>Series</th>
			<th>Issue</th>
			<th>Ship Date</th>
			<th>Publisher</th>
			{%if wantlist %}<th></th>{% endif %}
		</tr>

		{% for issue in current %}
		<tr id="r{{issue.id}}" 
			{% if issue.far_out %} class="far-out" {% endif %}
		>
			<td class='seriesTitle'>
				<a href="{% url 'issues_by_series' series_id=issue.series.id %}">
					{{issue.series}}
				</a>
			</td>
			<td>
				<a href="{% url 'issue' issue_id=issue.id %}">
					{% if issue.annual %}Annual{% endif %}
					{{issue.issue_number}}
				</a>
			</td>			
			<td>{{issue.release_date_with_day}}</td>
			<td>
				{% if issue.publisher != None %}
					{{issue.publisher}}
				{% else %}
					{% if issue.series.publisher != None %}
						{{issue.series.publisher}}
					{% endif %}
				{% endif %}
			</td>
			{% if wantlist %}
				<td>
					{% if issue.ordered %}
						<input id="bought{{issue.id}}" type="button" value="Received" class="btn btn-warning btn-xs" onclick="buy({{issue.id}});" />
					{% else %}
						<input id="bought{{issue.id}}" type="button" value="Bought" class="btn btn-success btn-xs" onclick="buy({{issue.id}});" />
					{% endif %}
				</td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>		
{% endif %}


{% if historic %}
	<div class="container">
		<div class="row">
			{% if wantlist %}
				<div class="col-md-3">
					<h2>Back Issues</h3>
				</div>
				<div class="col-md-3" align="center">
					<div class="checkbox alert alert-info">
						<label>
							<input type="checkbox" id="show-series-year" checked>
							Show series year
						</label>
					</div>
				</div>
				<div class="col-md-3" align="center">
					<div class="checkbox alert alert-info">
						<label>
							<input type="checkbox" id="show-target-price" checked>
							Show target price
						</label>
					</div>
				</div>
			{% else %}
				<div class="col-md-4">
					<h2>{{title}}</h2>
				</div>		
				<div class="col-md-4">
					{% if series.author %}
						<h2>
							<a href="{% url 'issues_by_author' author_id=series.author.id %}">
								{{series.author}}
							</a>
						</h2>
					{% endif %}
				</div>
				{% if series.publisher %}
				<div class="col-md-4">
					<h2>{{series.publisher}}</h2>
				</div> 
				{% endif %}
			{% endif %}
			{% if grouped_by_series %}
				<div class="col-md-3" align="center">
					<div class="checkbox alert alert-info">
						<label>
							<input type="checkbox" id="group-by-series" unchecked>
							Group comics by series
						</label>
					</div>
				</div>
			{% endif %}			
		</div><!--row-->
		{% if series.seriesGrouper %}
		<div class="row">
			<div class="col-md-6">
				<h3>Part of 
					<a href="{% url 'issues_by_group' seriesGrouper_id=series.seriesGrouper.id %}">
						{{series.seriesGrouper}}
					</a>
				</h3>
			</div>
		</div>
		{% endif %}
	</div><!--container-->

	<table class='table sortable back-issue-table'>
		<tr>
			{% if includeSeriesName %}<th class='seriesTitle'>Series</th>{% endif %}
			<th>Issue</th>
			<th></th> <!-- This is here (rather than a colspan=2) to prevent the column sorting from being off by one -->
			{% if not wantlist %}		
				<th>Story</th>
			{% endif %}
			<th>Date</th>
			{% if includePublisher or wantlist %}
				<th>Publisher</th>
			{% endif %}				
			{% if wantlist %}
				<th class='target-price'>Value</th>
				<th class='target-price'></th>
			{% endif %}
		</tr>

		{% for issue in historic %} 
			{% if not wantlist or issue.want %}
			<tr id="r{{issue.id}}" {% if not wantlist and not issue.own %} class='danger' {% endif %}>
				{% if includeSeriesName %}
					<td class='seriesTitle'>
						<a href="{% url 'issues_by_series' series_id=issue.series.id %}">
							<span class='series-name'>{{issue.series}}</span>
							<span class='series-name' style='display: none;'>{{issue.series.name}}</span>
						</a>
					</td>
				{% endif %}
				<td>
					<a href="{% url 'issue' issue_id=issue.id %}">
						{% if issue.annual %}Annual{% endif %}
						{{issue.issue_number}}
					</a>
				</td>
				<td>{{issue.variant}}</td>
				{% if not wantlist %}	
					<td>
						{{issue.story_name}}
						{% if issue.story_part %}
							part {{issue.story_part}}
						{% endif %}
					</td>
				{% endif %}		
				<td>{{issue.cover_date}}</td>
				{% if includePublisher or wantlist %}
					<td>
						{% if issue.publisher != None %}
							{{issue.publisher}}
						{% else %}
							{% if issue.series.publisher != None %}
								{{issue.series.publisher}}
							{% endif %}
						{% endif %}
					</td>
				{% endif %}			
				{% if wantlist %}
					<td class='target-price'>
						{% if issue.fair_price > 0 %}
							${{issue.fair_price}}
						{% endif %}
					</td>
					<td class='target-price'>
						{% if issue.ordered %}
							<input id="bought{{issue.id}}" type="button" value="Received" class="btn btn-warning btn-xs" onclick="buy({{issue.id}});" />
						{% else %}
							<input id="bought{{issue.id}}" type="button" value="Bought" class="btn btn-success btn-xs" onclick="buy({{issue.id}});" />
						{% endif %}				
					</td>
				{% endif %}
			</tr>
			{% endif %}
		{% endfor %}
	</table>	

{%if grouped_by_series %}
	<table class='table back-issue-table' style='display: none;'>
		<tr>
			<th colspan=2>Series / Issue</th>
			<th>Publisher / Date</th>
			{% if wantlist %}
				<th colspan=2 class='target-price'>Value</th>
			{% endif %}
		</tr>

		{% for series in grouped_by_series %}
		{% for issue in series %}
		{% if forloop.first %}
			<tr>
				<td colspan=2 class='seriesTitle'>
					<a href="#series{{issue.series.id}}" class="collapser" id="series-{{issue.series.id}}">
						<span class="glyphicon glyphicon-triangle-right row-series-{{issue.series.id}}" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-triangle-bottom row-series-{{issue.series.id}}" style="display: none;"
						aria-hidden="true"></span>
						<span class='series-name'>{{issue.series}}</span>
						<span class='series-name' style='display: none;'>{{issue.series.name}}</span>
					</a>
				</td>
				<td>{{issue.series.publisher}}</td>
				{% if wantlist %}
					<td class='target-price'>
						<div class="invisible">$00.00</div>
					</td>
					<td class='target-price'>
						<input type="button" value="Bought" class="btn btn-success btn-xs invisible" />
					</td>
				{% endif %}
			</tr>
		{% endif %}
		
		<tr id="rg{{issue.id}} collapsable-row" style="display: none;"
			class="row-series-{{issue.series.id}} {% if not wantlist and not issue.own %} danger {% endif %}" >
			<td>
				<a href="{% url 'issue' issue_id=issue.id %}">
					{% if issue.annual %}Annual{% endif %}
					{{issue.issue_number}}
				</a>
			</td>
			<td>{{issue.variant}}</td>
			<td>{{issue.cover_date}}</td>
			<td>
				{% if issue.publisher != None %}
					{{issue.publisher}}
				{% endif %}
				{% if wantlist %}
					<span class='target-price'>
						{% if issue.fair_price > 0 %}
							${{issue.fair_price}}
						{% endif %}
					</span>
			</td>
			<td class='target-price'>
				<input id="boughtG{{issue.id}}" type="button" value="Bought" class="btn btn-success btn-xs" onclick="buy({{issue.id}});" />
				{% endif %}
			</td>
		</tr>
		{% endfor %}
		{% endfor %}
	</table>	

{% endif %}
{% endif %}	







{% endblock %}
