{% extends "cbtracker/base.html" %}

{% block content %}
<table class='table'>
	<tr>
		<th class='seriesTitle'>Series</th>
		<th>Publisher</th>
		<th colspan=2>Last Known Issue</th>
	</tr>

	{% for series in list %}
	<tr>
		<td class='seriesTitle'>
			<a href="../series/{{ series.id }}">
				{{series}}
			</a>
		</td>
		<td>{{series.publisher}}</td>
		<td>
			<a href='issue/{{series.latest_issue.id}}'>
				{{series.latest_issue.issue_number}}
			</a>
		</td>
		<td>{{series.latest_issue.release_date}}</td>
	</tr>
	{% endfor %}
</table>		

{% endblock %}