{% extends "cbtracker/base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-4" align="center">
				<div class="checkbox alert alert-info">
					<label class="">
						<input type="checkbox" id="showUnreleased" checked>
						Show unreleased trades
					</label>
				</div>
			</div>
			<div class="col-md-4" align="center">
				<div class="checkbox alert alert-info">
					<label class="">
						<input type="checkbox" id="wantListOnly" unchecked>
						Want list only
					</label>
				</div>
			</div>
		</div><!--row-->
	</div><!--container-->
	
	<table class='table'>
		<tr>
			<th>Trade</th>
			<th>Publisher</th>
			<th>Scheduled Release</th>
		</tr>

		{% for trade in list %}
		<tr
			{% if trade.unreleased %} 
				class='unreleased warning'
			{% elif not wantlist and not trade.own %} 
				class='danger' 
			{% else %}
				class='owned'
			{% endif %}
		    id="r{{trade.id}}" 
		> 
			<td>
				<a href="{% url 'trade' trade_id=trade.id %}">
					{{trade}}
				</a>
			</td>
			<td>				
				{% if trade.series.publisher != None %}
					{{trade.series.publisher}}
				{% endif %}
			</td>
			<td>
				{{trade.release_date}}
			</td>
		</tr>
		{% endfor %}
	</table>		

{% endblock %}
